@import "vars";

.btn {
  display: inline-block;
  padding: 21px 56px;
  color: $ligth;
  font-family: $main-font;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid $ligth;
}
