@import "vars";
.hero {
  min-height: 544px;
  padding: 140px 0 89px;
  text-align: center;
  background-image: url("../images/img\ 1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $ligth;

  &__title {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    text-transform: uppercase;
    color: $ligth;
    margin: 0 0 45px;
  }
  &__info {
      display: inline-block;
    font-family: $main-font;
    margin: 0 0 45px;
    font-style: normal;
    font-weight: 900;
    font-size: 55px;
    line-height: 60px; 
  }
  &__info-second {
    margin: 0 0 45px;
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 30px;
  }
  &__link {
      transition: all 0.3s;
      &:hover{
          background-color: $accent;
          border-color: $accent;
      }
  }
}
